* {
    background-color: rgb(182, 169, 149);
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", Arial, serif;
    font-size: 22px;
}

h1 {
    text-align: center;
}

.image {
    text-align: center;
    margin: 20px;
}

img {
    width: 800px;
    height: auto;
    border: solid rgb(39, 29, 29);
    border-radius: 15px;
    margin: 0px auto;
    padding: 0px;
}

.image.cooking {
   width: 915px;
   height: auto;
}

.box {
    text-align: center;
    display: flex;
    list-style: none;
    margin: 2px auto;
}

.rlink {
    background-color: #5e3919;
    color: #EEEEEE;
    border: black solid 2px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 300px;
    height: 50px;
    padding: 10px;
}

li {

    flex: 1;
    text-align: center;
}

.rlink:hover {
    color: gray;
}

.click {
    background-color: rgb(84, 68, 58);
    padding: 14px 40px;
    font-size: 22px;
    font-weight: bolder;
    border-radius: 4px;
}

.buttonstyle {
    text-align: center;
}