* {
    background-color: rgb(182, 169, 149);
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", Arial, serif;
    font-size: 22px;
}

h1 {
    text-align: center;
}

.image {
    text-align: center;
    margin: 20px;
}

img {
    width: 800px;
    height: auto;
    border: solid rgb(39, 29, 29);
    border-radius: 15px;
    margin: 0px auto;
    padding: 0px;
}

.image .cooking {
   width: 915px;
   height: auto;
}

.box {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 3rem;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
}

.box a {
    color:rgb(39, 29, 29);
    text-decoration: none;
}

.box li {
    text-align: center;
    border: rgb(39, 29, 29) solid 10px;  
    border-radius: 3px;
    padding: 10px 20px;
    flex: initial;
}

.box a:hover {
    color: rgb(58, 58, 58);
}

.click {
    background-color: rgb(84, 68, 58);
    padding: 14px 40px;
    font-size: 22px;
    font-weight: bolder;
    border-radius: 4px;
}

.buttonstyle {
    text-align: center;
}