body {

    font-family: "Trebuchet MS", Arial, serif;
    font-size: 22px;

}

img {

    width: 800px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

ul {

    background-color: burlywood;

}

h1 {

    text-align: center;

}